.navbar {
  height: 8.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.5s ease;
}

/* .navbar nav {
  height: 200%;
} */

.navbar ul {
  height: 5%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar li {
  margin: 0 1.5rem;
  width: 10rem;
}

.navbar a {
  color: #9394a5;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: #9394a5;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #9394a5;
}

.navbar h1 {
  font-size: 32px;
  font-weight: bold;
}
