.navbar {
  height: 6rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 00%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar li {
  margin: 0 1.5rem;
  width: 10rem;
}

.navbar a {
  color: #9394a5;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: #e4e5f1;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #e4e5f1;
}

.navbar strong {
  font-weight: bold;
}

.navbar h1 {
  font-size: 32px;
  font-weight: bold;
}
